/*html, body, .main-container {*/
  /*height: 100%;*/
  /*justify-content: center;*/
  /*-webkit-justify-content: center;*/
/*}*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-container {
  flex: 1 0 auto;
  justify-content: center;
}

.page-footer {
  padding-top: 0;
}
